<% include ./partials/header %>

<div class="container text-center border border-info">
    <h2 class="text-center card card-body"><%= blog.title %></h2>
    <img src="<%= blog.image %>">
    <h6><%= blog.created.toDateString() %></h6>
    <p>
        <%= blog.body %>
    </p>
    <a class="btn btn-info"  href="/blogs/<%= blog._id %>/edit">Edit</a>
    <form class style="display:inline"action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

<% include ./partials/footer %>
